body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.item{
    grid-row: span 2;
}
img{
    height: 400px;
    width: 500px;
    position: absolute;
    align-self: center;
    justify-self: center;
}