body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    background-color: green;
}
img{
    width: 150px;
    height: 100px;
}