body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    height: 400px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
img{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 250px;
    margin-top:140px;
}