body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
}
.green{
    position: absolute;
    background-color: green;
    width: 300px;
    height: 400px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
img{
    width: 150px;
    height: 190px;
    margin-left: 10px;
}
.yellow{
    background-color: gold;
}
.white{
    background-color: white;
}
.red{
    background-color: red;
}
.blue{
    background-color: navy;
}