body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 600px;
    height: 400px;
}
.blue{
    background-color: navy;
    width: 600px;
    height: 66.7px;
}
.blue-1{
    margin-bottom: 66.7px;
}
.blue-2{
    margin-top: 66.7px;
}
.red{
    background-color: red;
    width: 600px;
    height: 133.2px;
    display: flex;
    align-items: center;
}
.white{
    background-color: white;
    width: 100px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
img{
    width: 90px;
    height: 100px;
}