body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.blue{
    background-color: darkblue;
}
img{
    position: absolute;
    width: 175px;
    height: 250px;
    margin-left: 212.5px;
    margin-top: 55px;
}