body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background-color: darkgreen;
    position: relative;
}
.yellow{
    background-color: gold;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.stripes-hor{
    height: 100px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: absolute;
    margin-top: 150px;
    
}
.stripes-ver{
    width: 100px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    margin-left: 250px;
}
img{
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}