body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}
.yellow{
    background-color: gold;
}
.blue{
    background-color: darkblue;
}
.red{
    background-color: red;
}