body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: #3E5EB9;
}
.red{
    width: 600px;
    height: 200px;
    background-color: red;
    border-top: 20px solid gold;
    border-bottom: 20px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red > img{
    width: 500px;
    height: 300px;
}