body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background-color: deepskyblue;
    position: relative;
}
.small-container{
    height: 200px;
    width: 300px;
    background-color: blue;
    position: relative;
}
.white-1{
    background-color: white;
    height: 200px;
    width: 50px;
    position: absolute;
    margin-left: 125px;
}
.white-2{
    background-color: white;
    height: 50px;
    width: 300px;
    position: absolute;
    margin-top: 75px;
}
.red-1{
    background-color: red;
    height: 200px;
    width: 30px;
    position: absolute;
    margin-left: 135px;
}
.red-2{
    background-color: red;
    height: 30px;
    width: 300px;
    position: absolute;
    margin-top: 85px;
}

