body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-container{
    background-color: gold;
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tri-1{
    background-color: #007A5E;
    height: 300px;
    width: 250px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.tri-2{
    background-color: #007A5E;;
    height: 300px;
    width: 250px;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
.red-circle{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    align-self: center;
    margin-left: 200px;
}