body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.blue{
    background-color: #00bce4;
}
.white{
    background-color: white;
    display: flex;
    justify-content: center;
}
img{
    height: 50px;
    width: 50px;
}
.emblem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.star-1{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.star-2{
    grid-row: span 2;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.star-3{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.star-4{
    display: flex;
    align-items: center; 
}
.star-5{
    display: flex;
    align-items: center;
    margin-left: 50px;   
}