body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    position: relative;
    background-color: blue;
}
.white-h{
    height: 70px;
    width: 600px;
    background-color: white;
    position: absolute;
    align-self: center;
    display: grid;
    z-index: 1;
}
.white-v{
    height: 400px;
    width: 70px;
    background-color: white;
    position: absolute;
    margin-left: 170px;
}
.red-h{
    height: 40px;
    width: 600px;
    background-color: red;
    position: absolute;
    align-self: center;
    z-index: 1;
}
.red-v{
    height: 400px;
    width: 40px;
    background-color: red;
    position: absolute;
    margin-left: 185px;
    z-index: 1;
}