body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}
.orange{
    background-color: orange;
}
.white{
    background-color: white;
}
.green{
    background-color: green;
}
img{
    position: absolute;
    width: 120px;
    height: 120px;
    justify-self: center;
    align-self: center;
}