body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}
.green{
    background-color: #239F40;
    display: flex;
    align-items: end;
}
.white{
    background-color: white;
}
.red{
    background-color: #DA0000;
}
.strips{
    width: 600px;
}
.emblem{
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
}