body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    position: relative;
    display: grid;
}
.blue-strip{
    background-color: #005EB8;
    height: 60px;
    width: 600px;
    position: absolute;
}
