body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    position: relative;
    display: grid;
}
.blue-strip{
    background-color: #005EB8;
    height: 60px;
    width: 600px;
    position: absolute;
}
.blue-1{
    background-color: #005EB8;
    width: 200px;
    height: 150px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    position: absolute;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-2{
    background-color: #005EB8;
    width: 200px;
    height: 150px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    position: absolute;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-1{
    background-color: white;
    width: 200px;
    height: 150px;
    clip-path: polygon(50% 20%, 85% 90%, 15% 90%);
}
.white-2{
    background-color: white;
    width: 200px;
    height: 150px;
    clip-path: polygon(15% 10%, 85% 10%, 50% 80%);
}