body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.green{
    background-color: #008C45;
}
.white{
    background-color: white;
}
.red{
    background-color: #CD212A;
}