body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    position: relative;
    justify-content: center;
}
.tri-yellow-1{
    width: 340px;
    height: 400.3px;
    position: absolute;
    background-color: gold;
    clip-path: polygon(0% 0%, 17% 0%, 100% 50%, 17% 100%, 0% 100%);
    align-self: flex-start;
}
.tri-yellow-2{
    width: 340px;
    height: 400.3px;
    position: absolute;
    background-color: gold;
    clip-path: polygon(100% 0%, 83% 0%, 0% 50%, 83% 100%, 100% 100%);
    align-self: flex-end;
}
.tri-black-1{
    width: 250px;
    height: 350px;
    position: absolute;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    align-self: flex-start;
}
.tri-black-2{
    width: 250px;
    height: 350px;
    position: absolute;
    background-color: black;
    clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
    align-self: flex-end;
}