body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.15fr 1fr 0.15fr 1fr;
}
.black{
    background-color: black;
}
.red{
    background-color: #BB0000;
}
.green{
    background-color: darkgreen;
}
.white{
    background-color: white;
}
img{
    height: 270px;
    width: 160px;
    position: absolute;
    justify-self: center;
    align-self: center;
    margin-bottom: 15px;
}