body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: flex;
    align-items: flex-end;
    background-color: #c60b20;
}
img{
    width: 600px;
    height: 300px;
}