body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background-color: maroon;
    display: flex;
    align-items: center;
}
.white{
    height: 70px;
    width: 600px;
    background-color: white;
}