body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    height: 200px;
    width: 600px;
    background-color: white;
}