body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.red{
    background-color: red;
    width: 600px;
    height: 37px;
}
.blue{
    background-color: darkblue;
    height: 182px;
    width: 182px;
    position: absolute;
}