body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.yellow{
    background-color: #FFB81C;
}
.green{
    background-color: #046A38;
}
.red{
    background-color: #BE3A34;
}