body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    grid-template-rows: 1fr 1fr;
}
.white{
    background-color: white;
    grid-row: span 2;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}