body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}
.black{
    background-color: black;
}
.red{
    background-color: #C8102E;
}
.green{
    background-color: #007A33;
}
img{
    position: absolute;
    width: 100px;
    height: 100px;
    justify-self: center;
    margin: ;
}