body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.black{
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    background-color: #C8102E;
}
.green{
    background-color: #007A33;
}
img{
    position: absolute;
    width: 270px;
    height: 110px;
}