body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.green{
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}