body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background-color: #003087;
    position: relative;
}
.orange{
    background-color: #E57200;
    height: 400px;
    width: 600px;
    position: absolute;
    clip-path: polygon(0% 94%, 100% 3%, 100% 23%, 0% 96%);
}
.white{
    background-color: white;
    height: 400px;
    width: 600px;
    position: absolute;
    clip-path: polygon(0% 96%, 100% 23%, 100% 43%, 0% 98%);
}
img{
    height: 220px;
    width: 220px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}