body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}
.blue{
    background-color: #003DA5;
}
.yellow{
    background-color: #FFD100;
}
.red{
    background-color: #C8102E;
}
img{
    height: 200px;
    width: 150px;
    justify-self: center;
    align-self: center;
    position: absolute;
}