body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1272D;
}
img{
    height: 120px;
    width: 120px;
}