body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
    position: relative;
}
.white{
    background-color: white;
}
.green{
    background-color: #007168;
}
.black{
    background-color: black;
}
.yellow{
    background-color: #FCE100;
}
.red-tri{
    background-color: #D21034;
    height: 400px;
    width: 250px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    position: absolute;
}