body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}
.yellow{
    background-color: #FFCD00;
}
.green{
    background-color: #43B02A;
}
.red{
    background-color: #EE2737;
}
img{
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 290px;
    height: 290px;
}