body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    position: relative;
    background-color: white;
    display: flex;
}
.blue{
    height: 330px;
    width: 600px;
    position: absolute;
    background-color: #001489;
    clip-path: polygon(0% 0%, 0% 100%, 80% 0%);
}
.green{
    height: 330px;
    width: 600px;
    position: absolute;
    background-color: #009A44;
    align-self: flex-end;
    clip-path: polygon(100% 0%, 100% 100%, 20% 100%);
}
.red{
    height: 150px;
    width: 770px;
    position: absolute;
    background-color: #DA291C;
    transform: rotate(-35deg);
    margin-top: 110px;
    left: -70px;
    clip-path: polygon(4.15% 20%, 0.45% 47%, 10.2% 82%, 90.4% 85%, 94% 58.3%, 84% 22%);
}
img{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
}