body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: darkblue;
    height: 400px;
    width: 600px;
    position: relative;
}
.small-container{
    height: 200px;
    width: 300px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-h{
    background-color: white;
    height: 50px;
    width: 300px;
    position: absolute;
}
.white-v{
    background-color: white;
    height: 200px;
    width: 50px;
    position: absolute;
}
.red-h{
    background-color: red;
    height: 30px;
    width: 300px;
    position: absolute;
}
.red-v{
    background-color: red;
    height: 200px;
    width: 30px;
    position: absolute;
}
