body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: darkblue;
    height: 400px;
    width: 600px;
    position: relative;
    z-index: -2;
}
.small-container{
    height: 200px;
    width: 300px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1 !important;
}
.white-h{
    background-color: white;
    height: 50px;
    width: 300px;
    position: absolute;
}
.white-v{
    background-color: white;
    height: 200px;
    width: 50px;
    position: absolute;
}
.red-h{
    background-color: red;
    height: 30px;
    width: 300px;
    position: absolute;
}
.red-v{
    background-color: red;
    height: 200px;
    width: 30px;
    position: absolute;
}
.diagonal{
    height: 40px;
    width: 200px;
    background-color: white;
    position: absolute;
}
.diagonal .red-d{
    background-color: red;
    height: 13px;
    width: 200px;
    margin-top: 20px;
}
.d-1{
    transform: rotate(35deg);
    left: -30px;
    top: 30px;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 14% 100%, 7% 50%);
}
.d-2{
    transform: rotate(-36deg);
    left: -34px;
    bottom: 28px;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 23% 100%, 8% 45.5%);
}
.d-3{
    z-index: -3;
}
.d-4{
    z-index: -3;
}
